<div class="section-hdr" style="padding-top:0">Display Options</div>
<div class="two-col">
  <div class="field-row">
    <label class="field-label">Show Values</label>
    <div class="toggle-row">
      <div class="toggle-wrap" (click)="upd('showValues', !cfg.showValues)">
        <div class="toggle-box" [class.is-on]="cfg.showValues"></div>
        <span class="toggle-label">Show numbers</span>
      </div>
    </div>
  </div>
  <div class="field-row">
    <label class="field-label">Animated</label>
    <div class="toggle-row">
      <div class="toggle-wrap" (click)="upd('animated', !cfg.animated)">
        <div class="toggle-box" [class.is-on]="cfg.animated"></div>
        <span class="toggle-label">Animate bars</span>
      </div>
    </div>
  </div>
</div>
