@if (chartOptions && cfg?.data?.length) {
  <div class="chart-container">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [legend]="chartOptions.legend"
      [tooltip]="chartOptions.tooltip"
      [plotOptions]="chartOptions.plotOptions"
      [stroke]="chartOptions.stroke">
    </apx-chart>
  </div>
} @else {
  <div class="chart-empty">
    <span>No data</span>
  </div>
}